.bg-theme {
    background-color: #264653 !important;
}

.badge-theme {
    background-color: #e76f51;
    color: #fff;
}

.badge {
    padding: 10px;
    border-radius: 20px;
}

.product {
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.12);
}

.product-subheader {
    position: relative;
    width: 100%;
    padding: 7px;
    text-align: right;
    box-shadow: 0px 1px 6px 0px #ccc;
    z-index: 99999;
}

.product-subheader i {
    font-size: 20px;
    color: #E76F51;
    float: left;
}

.product-footer {
    background-color: #003049;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 12px;
}

.product-footer i {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    color: #ccc;
    text-align: center;
    padding-top: 11px;
    right: 15px;
    top: 50%;
    margin-top: -20px;
}