body {
    background: #c2c2c2;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background: #fff;
    padding: 20px;
    /* margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px; */
    margin: 10px auto;
    border: 1px solid #000;
    /* border: 1px dashed #000; */
    border-radius: 20px;
    width: 200px;
    height: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.nav {
    text-align: right;
    width: 100%;
    background: #1d3557;
}

/* Estilo modificado para funcionar o texto a direita */
.nav > ul {
    display: inline-flex;
    text-align: right;
}

.nav > ul > li{
    padding: 20px;
    margin: 5px;
    list-style: none;
    text-align: right;
}

.nav > ul > li > a {
    text-decoration: none;
    color: #f1faee;
    font-size: 20px;
}
.nav > ul > li > a:hover {
    color: #a8dadc;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
}

.blog-item {
    background-color: #a8dadc;
    margin: 10px;
    border: 1px solid #1d3557;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    width: 300px;
}

.blog-head {
    /* padding: 10px; */
    position: relative;
}

.blog-head h4{
    background-color: #457b9d;
    color: #f1faee;
    position: absolute;
    font-size: 30px;
    padding: 10px;
    /* border-radius: 20px; */
    bottom: 0px;
    margin: 0;
    /* right: 5px; */
    width: 93.5%;
    opacity: 0.6;
}

.blog-body {
    padding: 10px;
}

.blog-head img{
    width: 100%;
}
form {
    text-align: right;
}
.form-group input {
    width: 200px;
    padding: 5px;
    border-radius: 4px;
    border: none;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
form > button{
    padding: 5px;
    background: #e63946;
    border-radius: 10px;
    color: #fff;
    border: none;
    width: 100px;
    cursor: pointer;
}
.zindex {
    margin-top: 100px;
}

.zindex div{
    width: 100px;
    height: 100px;
}
.item1 {
    position: absolute;
    background: red;
    z-index: 3;
    left: 10px;
}
.item2 {
    position: absolute;
    background: blue;
    z-index: 2;
    left: 120px;
}
.item3 {
    position: absolute;
    background: yellow;
    z-index: 3;
    left: 80px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.mt-105 {
    margin-top: 105px;
}

input:focus {
    width: 200px;
    /* height: 100px; */
    /* text-align: center; */
    opacity: 0.8;
}