.bg-theme {
    background-color: #264653 !important;
    color: #fff;
}

.badge-theme {
    background-color: #e76f51;
    color: #fff;
}

.badge {
    padding: 10px;
    border-radius: 20px;
}

.product {
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.12);
}

.product-subheader {
    position: relative;
    width: 100%;
    padding: 7px;
    text-align: right;
    box-shadow: 0px 1px 6px 0px #ccc;
    z-index: 99999;
}

.product-subheader i {
    font-size: 20px;
    color: #E76F51;
    float: left;
}

.product-footer {
    background-color: #003049;
    color: #fff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 12px;
}

.product-footer i {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #fff;
    color: #ccc;
    text-align: center;
    padding-top: 11px;
    right: 15px;
    top: 50%;
    margin-top: -20px;
}

.filter {
    box-shadow: 5px 9px 20px 5px #cacaca;
    padding: 10px;
}

.filter input {
    border: none;
}

.filter input:focus {
    outline-style: none;
}

#filter-search {
    background-color: #E76F51;
    color: #fff;
}

.filter-header {
    box-shadow: 3px 3px 9px #ccc;
}

.button-theme {
    background-color: #264653 !important;
    color: #fff;
}

.button-theme:hover {
    color: #fff !important;
}

.pagination {
    display: inline-flex;
}

.pagination > .page {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    padding-top: 12px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 1px 10px 3px #ccc;
    cursor: pointer;
}

.product-img-detail {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.product-header-detail {
    display: inline-flex;
}

.text-orange { color: #e76f51 !important; }
.text-blue { color: #264653 !important; }
.text-white { color: #fff !important; }
.text-black { color: #000 !important; }

.fs-13 { font-size: 13px !important; }
.fs-20 { font-size: 20px !important; }
.fs-25 { font-size: 25px !important; }
.fs-30 { font-size: 30px !important; }

.border { border: 1px solid #ccc !important; }
.bg-gray { background-color: #ccc;}
.bg-white { background-color: #fff;}

.box-contact {
    border-style: dotted;
    border-width: 2px;
    border-color: #e76f51;
    padding: 10px;
    text-align: center;
}

.box-contact > i {
    padding: 10px;
    font-size: 30px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid #ccc;
    padding-top: 23px;
    color: #003049;
}

textarea {
    resize: none;
}

@keyframes toaster {
    0% {
        right: 0px;
    }
    50% {
        right: 50px;
    }
    100% {
        right: 0px;
    }
}

.toaster {
    z-index: 99999;
    position: absolute;
    width: 250px;
    height: 70px;
    top: 60px;
    background: red;
    animation-name: toaster;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}